APP_PORT=3000
APP_HOST=0.0.0.0
NODE_ENV=local

LOGS_PATH = /home/logs

HEALTH_CHECK_KEY=123456a@

DATABASE_DIALECT=postgres
DATABASE_NAME=db
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_LOGGING=true

PRIVATE_KEY_PATH=/keys/private.rsa
PUBLIC_KEY_PATH=/keys/public.pem

REDIS_PORT=6379
REDIS_HOST=quan1229.com
REDIS_USER=
REDIS_PASSWORD=

QUEUE_MAIL_NAME=vcr-mail
WEB_PUBLIC_URL=https://vcr.test.com

API_URL=0.0.0.0:3000